@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #0080A7;
  background-color: rgb(220,220,220);
}

/*============= NAVIGATION     =============*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  
  background-color: rgba(0, 0, 0, 0.6)!important;
}

/* background-color: rgba(253, 253, 253, 0.78); */

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  font-weight: 400;
  text-shadow: .5rem .5rem .5rem black;
}

/*============= LANDING        =============*/

.home-inner{
  background-image: url(img/landing2.jpeg);
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: 1px 1px 2px black;
  padding-bottom: .8rem;
}

.caption h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
  padding-bottom: 3rem;
}

.btn-lg {
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1rem;
}


/*============= ABOUT SECTION =============*/

.narrow {
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 0rem;
  
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: #0080A7;
}

.contact{
  background-color: #eeeeee;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: .5rem .5rem .2rem black;
}

.heading-about {
  margin-bottom: 1.5rem;
}

h3.heading-about{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: .5rem .5rem .2rem black;
} 

.heading-underline {
  width: 15%;
  height: .2rem;
  background-color: #0080A7;
  margin: 0 auto 2rem;
}

/*============= SERVICES SECTION =============*/

.service .fixed {
  background-image: url(img/landing1.jpeg);
  z-index: -1;
}

.dark {
  background-color: rgba(0,0,0,0.1); 
}

.fixed-background h5 {
  margin: 3rem;
  padding: 5rem;
}

.service{
  color: white;
}

.contact{
  color: #0080A7;
}

/*============= CONTACT SECTION =============*/

footer {
  background-color: #595959;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img{
  height: 4.5rem;
  margin-bottom: 1.5rem;
}

.heading-bar {
  background-color: rbga(0,0,0,0.5);
  color: white;
}

.heading-bar h3{
  padding-top: 1.5rem;
  width: 100% !important;
}

table {
  
  border-collapse: collapse;
  text-align: center;
  margin: 5rem;
  margin-top: -3rem;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table, th, td {
  border-bottom: 1px solid #eeeeee;
}

th {
  height: 50px;
}

td {
  height: 50px;
}

tr:hover {
  background-color: darkslategray;
}


/*==================Contact Form ==============*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=number], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0080A7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.email {
  border-radius: 5px;
  padding: 80px;
  margin-right: auto;
  margin-left: auto;
}


.contacts .fixed {
  background-image: url(img/family.jpeg);
  z-index: -1;
}

.contact{
  color: white;
}

.co {
  width: 100%;
}

/*==============================================*/



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
